.header__title{
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__title img{
  width: 20%;
}

.header__titleBlack{
  background-color: black;
  width: 100%;
  height: 25px;
}

.header__containerButton button{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.header__containerButton button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}