
.container__pokemonCards{
  display: flex;
  padding: 20px;
  max-width: 40%;
  justify-content: center;
  box-shadow: 3px 5px 10px 5px gray;
}

.container__pokemonCards h4{
  color: red;
}

.pokemonName{
  text-align: center;
  font-size: 30px;
}

.pokemon__type{
  text-align: center;
}

h6{
  text-align: center;
  font-size: 18px;
}

.infoPokemon{
  background-color: antiquewhite;
}

.stats__section{
  text-align: center;
}