.main__pokemonCard{
  display: flex;
}

.main__pokemon{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main__pokemon__info{
  text-align: center;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 3px 5px 10px 5px gray;
}

.section__stats{
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 0;
}